*
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* assign flexbox to these selectors */

.header-container,
.header-links,
.introduction-container,
.hero-container,
.top-container,
.info-box,
.info-section-container,
.info-header,
.info-box-container,
.info-box,
.info-box-text,
.info-box-image,
.quote-container,
.quote,
.quote-credit
{
    display: flex;
}



/* Header things go here */

.top-container
{
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(191,0,7,1) 0%, rgba(255,29,81,1) 100%);
    color: white;
    align-content: center;
}

.header-container
{
    justify-content: space-between;
    flex: 1;
    margin: 0px;
    padding: 0px;
    width:70%;
    margin-left: 270px;
    
    
}

.header-links
{
    gap: 20px;  
    
}

.header-link-style
{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header-link-style:hover
{
    color: rgb(77, 0, 0);
}


.hero-container
{
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
    height: auto;
    

}

.introduction-container
{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 125px;
    padding: 130px;
    flex: 1;
    
}

.intro-image
{
    width: 550px;
    height: 100%;
    border-radius: 25px;
    
    border: 5px solid rgb(255, 255, 255);
    
    
}

.sign-up
{
    font-size: 30px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color: rgb(151, 13, 20);
    border-radius: 10px;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
}

.sign-up:hover
{
    background-color: rgb(255, 179, 196);
    color: rgb(83, 0, 0);
    cursor: pointer; 
    border: 1px solid rgb(59, 0, 0);
    
}

.intro-hero
{
    font-size: 48px;
    font-weight: 900;
}

.header
{
    font-size: 24px;
    padding-right: 120px;
    font-weight: bold;
}

.very-text
{
    
    font-family: cursive;

}

.intro-subtext
{
    font-size: 20px;
}

/* info section goes here */

.info-box
{
    width: 170px;
    height: 170px;
    border: 3px solid darkred;
    border-radius: 10px;
    flex-direction: column;
}

.info-section-container
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.info-header
{
    font-size: 36px;
    color: darkred;
    font-weight: 700;
    padding: 70px;
}

.info-box-container
{
    gap: 80px;
}



/* quote section */

.quote-container
{
    flex-flow: column wrap;
    align-content: center;
    background-color: rgb(255, 186, 186);
    gap: 30px;
    padding: 60px;
}

.quote
{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: darkred;
    flex: 1;
    width: 55%;
    padding-top: 40px;
}

.quote-credit
{
    font-size: 36px;
    font-weight: 800;
    color: darkred;
    justify-content: flex-end;
}
